.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #666;
  
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 40px;
  padding: 80px;
  font-size: 20px;
}
