*{
	margin: 0;
	padding: 0;
}
.topHead {
  padding: 25px;
  text-align: center;
  background: #5C95FF;
}
#rcorners {
  border-radius: 25px;
  border: 8px solid #F87575;
  padding: 10px;
  width: 170px;
  height: 40px;
}
.navbar {
	overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 25px;
	text-decoration: none;
}
.navbar a.right {
  float: right;
  background-color: #F87575;
  color: white;
}
.navbar a:hover {
	background-color: #FFA9A3;
    color: black;
	cursor: pointer;
}
.navbar a.active {
  background-color: #F87575;
  color: white;
}

